TP1_Email_classifier_AlexisLeakos.json
{
  "name": "TP1_Email_classifier_AlexisLeakos",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "86ad721e-92c1-43d0-bb7f-f620df516f70",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "Emocx36a62dnVaSU",
          "name": "Microsoft Outlook account 15"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gpu.cpnv.me:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "matheswaran/email-classifier:latest"
            },
            {
              "name": "prompt",
              "value": "={{ \"Classify the following email and return JSON only.\\n\\n\" +  $json.emailText }} "
            },
            {
              "name": "stream",
              "value": "={{false}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "8a6ca682-955a-4881-831b-8f2ebadaea20",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { \nconst parsed = JSON.parse(item.json.response); \nconst classification = parsed.classifications?.[0] || {}; \nreturn { \njson: { \nrequestType: classification.requestType || \"\", \nrequestSubType: classification.requestSubType?.[0] || \"\", \nconfidenceScore: parsed.confidenceScore || null, \nreasoning: parsed.reasoning || \"\", \noutlookCategory: classification.requestType || \"Other\" \n} \n}; \n3 \n}); "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "52e732c9-0b8e-42d0-b916-5f5f963e2cc5",
      "name": "Mise en forme données"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { \nconst email = item.json; \nconst subject = email.subject || \"\"; \nconst body = email.bodyPreview || \"\"; \nconst sender = email.from || \"\"; \nconst messageId = email.id || \"\"; \nconst emailText = `Objet: ${subject} \nExpéditeur: ${sender} \nMessage: \n${body}`; \nreturn { \njson: { \nmessageId, \nsubject, \nsender, \nbody, \nemailText \n} \n}; \n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "f92f12d4-f56c-4eec-8525-2a696bdf1512",
      "name": "Prépare données"
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Prépare données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Mise en forme données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prépare données": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2610bf8f-98a4-4a95-a547-dfc8822b15f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d30d1f1874df20c0dc0c5e334ba45c46152a3794403b022f504026a467e081f"
  },
  "id": "Q3pPDA0pYG6QIRBo0zgzk",
  "tags": []
}